/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url('../fonts/freedokaOne.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url('../fonts/freedokaOne2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
	font-family: Helvetica;
	background-color: #f2f2f2; 

	h1{
		text-transform: uppercase;
		font-size: 4em;
		font-family: 'Fredoka One', cursive;
		text-align: center;
		padding:0;
		margin: 45px 0 0;
		display: block;
	}

	button, .button{
		background-color: #0860aa;
		border: 1px solid #094f8a;
		padding: 10px 15px;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		min-width: 55px;

		&:hover{
			opacity:0.9;
		}

		&.light{
			background-color: #4885d2;
			border-color: #0f7793;
		}

		&.whiter{
			background-color: #fffc;
			border: 1px solid #457baa;
			color: #0860aa;
		}

		&.red {
	    	background-color: #e01212;
	    	border-color: #c51717;
		}
	}
}

.pantallas{
	section{
		display: block;
	}

	#alerts_background{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.95);
		display: none;
		z-index: 10;
		top: 0px;
		left: 0px
	}

	.alert{
		text-align: left;
		display: none;
		position: absolute;
		background-color: #fff;
		left: 50%;
		margin-left: -170px;
		width: 320px;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 5px 10px;
		top: 160px;
		z-index: 100;

		a.close_modal{
			margin-top: 5px;
			margin-right: 5px;
			text-decoration: none;
			color: #777;
			font-weight: bold;
			position: absolute;
			right: 7px;
		}

		.buttons-group{
		 	margin-top: -10px;
		 	
		 	button {
    			float: right;
    			margin-left: 6px;
    			margin-bottom: 5px
			}
		}

		&> button, form > input[type="submit"]{
		    float: right;
		    margin-top: 35px;
		    margin-bottom: 5px;
		}

		label{
			display: block;
			margin-bottom: 8px;
		}

		input:not([type="submit"]) {
		    padding: 8px;
		    border-radius: 2px;
		    border: 1px solid #ddd;
		    width: 30%;
		    margin-bottom: 12px;
		}
	}

	.center{
		margin: 20px auto;

	}
}

$minaBackground: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);

@mixin LinearBackground(){
	background-color: blue;

	background: -webkit-gradient(linear, 0% 50%, 51% 100%, from(#6db3f2), to(#1e69de));
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background:	-ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
}

@mixin ImagewLinearBackground($imageURL){
	background-color: blue;
	background: url($imageURL);
	background-repeat: no-repeat;

	background: url($imageURL), -webkit-gradient(linear, 0% 50%, 51% 100%, from(#6db3f2), to(#1e69de));
	background: url($imageURL), -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: url($imageURL), -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background:	url($imageURL), -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: url($imageURL), -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
}

#principal{
	.center {
    	width: 760px;
    	display: grid;
    	grid-template-areas: 
    		"nuevapartida resultados"
    		"instrucciones resultados";
    	grid-gap: 10px;

    	&>div{
    		background-color: #fff;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 10px;

			&#empezar_nueva_partida {
				grid-area: nuevapartida;
    			flex-grow: 1;
    			@include LinearBackground();
				color: #fff;

				p{
					margin-top: 8px;
				    margin-bottom: 4px;
				    padding-bottom: 21px;
				}
			}

			&#resultados_partidas_ganadas {
			    width: 245px;
			    grid-area: resultados;

			    #partidas_ganadas{
			    	overflow: auto;
					max-height: 350px;
					margin-top: 10px
			    }

			    ul{
					padding: 0;
					counter-reset: item;
					margin: 0;

					& > li{
						margin: 0;
						margin-bottom: 10px;
					  	padding: 0 0 0 2em;
					  	text-indent: -2em;
					  	list-style-type: none;
					  	counter-increment: item;

					  	&:before{
					  		width: 1em;
							font-weight: bold;
							content: counter(item) ".";
							float: left;
							font-size: 16px;
					  	}

					  	& > div{
					  		padding-left: 28px;
					  		line-height: 18px;

					  		&.usuario{
					  			text-transform: uppercase;
					  			font-weight: bold;
					  			letter-spacing: 3px;
					  		}

					  		&.nivel{
					  			font-size: 12px;
					  		}
					  	}
					}
			    }
			}

			&#instrucciones_juego{
				grid-area: instrucciones;

				p{
					font-size: 14px
				}
			}

			h3{
				margin:0;
			}
    	}
	}
}

#juego{
	display: none;
	text-align: center;

	.center{
		min-width: 720px;
		display: inline-block;
		background-color: #fff;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 10px;


		.bar{
			display: flex;
			padding-bottom: 10px;
			border-bottom: 1px dashed #ddd;
			margin-bottom: 10px;

			#timer{
				font-weight: bold;
				font-size: 30px;
				flex: 1;
				text-align: left;
			}

			#num_minas{
				display: inline;
				font-weight: bold;
				font-size: 30px;
				flex: 1;
				text-align: right;
			}

			.nav{
				text-align: center;
				flex: 4
			}
		}

		.footer {
		    text-align: left;
		    display: flex;
		    padding-top: 10px;
		    margin-top: 10px;
		    border-top: 1px dashed #ddd;

		    #emoji_partida{
		    	background-repeat: no-repeat;
		    	background-size: cover;
		    	width: 48px;
		    	height: 48px;

		    	&.happy{
		    		background: url('../img/happy.png');
		    	}

		    	&.sad{
		    		background: url('../img/sad.png');
		    	}

		    	&.lol{
		    		background: url('../img/lol.png');
		    	}
		    }

		    #emojiText_partida {
			    font-size: 32px;
			    margin-top: 12px;
			    margin-left: 6px;
			    letter-spacing: 2px;
			}
		}
	}
	

	#tablero{
		border-collapse: collapse;
		margin: 0 auto;

		&, tr, td{
			border: 2px solid #2c4078;
		}

		td {
		    width: 26px;
		    height: 26px;
		    @include LinearBackground();

		    &:not(.destapada):not(.bomba):not(.no_bomba):hover{
				opacity: 0.8;
			}

		    &.destapada{
				background: #eafaff;
			}

			font{
				font-weight: bold;
				font-size: 20px;
				text-align: center;
				vertical-align: middle;
				display: block;
				cursor: default;
			}

			&.bombas_1 {
			    color: #0b4aff;
			}

			&.bombas_2 {
			    color: green;
			}

			&.bombas_3 {
			    color: red;
			}

			&.bomba, &.no_bomba{
				background-size: 25px;
				background-repeat: no-repeat;
				background-position: center center;
			}

			&.bomba{
				background-image: url('../img/mina.png');
			}

			&.no_bomba{
				background-image: url('../img/no_mina.png');
			}

			&.bomba.red{
				background-color: #f30c0c;
			}

			&.marcada {
				@include ImagewLinearBackground('../img/bandera.png');
				background-position: center center;
			}

			&.dudable {
			    @include ImagewLinearBackground('../img/interrogante.png');
			    background-position: center center;
			}
		}
	}

	#partida_ganada_guardarForm{ 
		#pgge_nombre {
	    	width: calc(100% - 20px);
		}

		input[type="submit"] {
    		margin-top: 0;
		}
	}
}